@import "../../../commons/styles/colors.module.scss";
@import "../../../commons/styles/mixins.module.scss";
:local(.userListItem) {
    &::marker {
        font-weight: 300;
        color: #cdcdcd;
    }
    :local(.userPreview) {
        font-weight: 700;
    }
    :local(.username) {
        margin-left: 0.5rem;
        font-weight: 300;
        font-size: 0.9rem;
        color: $primaryColor;
        cursor: pointer;
        position: relative;
        user-select: none;
        &:hover {
            color: $primaryAccent;
            transition: all 150ms ease-in-out;
        }
    }
}
