@import "../../commons/styles/mixins.module.scss";

:local(.container) {
    width: 33%;
    min-width: 300px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    position: relative;
    padding-top: 1.5rem;
    @include tablet {
        width: 66%;
    }

    @include phone {
        width: 90%;
    }

    :local(.searchInput) {
        height: 2rem;
    }

    label {
        position: absolute;
        top: 2rem;
        left: 0.5rem;
        color: #a1a1a1;
        z-index: 0;
        transition: all 150ms ease-in-out;
        &:local(.withInput) {
            top: 0;
            font-size: 0.8rem;
            transition: all 150ms ease-in-out;
        }
    }
}
