@import "../../commons/styles/mixins.module.scss";
@import "../../commons/styles/colors.module.scss";

:local(.container) {
    width: 90%;
    max-width: 400px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    position: relative;
    padding-top: 1.5rem;
    

    :local(.searchInput) {
        height: 2rem;
        z-index: 1;
        //this very little transparency fixes firefox styling for not having background
        background-color: rgba(255, 255, 255, 0.000001);

        border: 1px solid $dark;
        border-radius: 3px;
        padding: 0.1rem 0.5rem;
    }

    label {
        position: absolute;
        top: 2rem;
        left: 0.5rem;
        color: #a1a1a1;
        z-index: 0;
        transition: all 150ms ease-in-out;
        &:local(.withInput) {
            top: 0;
            font-size: 0.8rem;
            transition: all 150ms ease-in-out;
        }
    }
}
